.container {
	width: 100%;
	margin-top: 80px;
	padding: 0;
}
.col-lg-12, .col-lg-10, .col-lg-9, .col-xs-12 { 
	padding: 0;
}

.row .col {
	margin: 0;
}

.row {
	margin:0;
}


/*---------- Nav bar ----------*/

.navbar {
	background: #fff;
	border-bottom-width: 0px;
}

.navbar-nav {
	width: 100%;
}

.navbar-nav li {
	text-align: center;
	width: 25%;
}

.nav-contact {
	font-weight: bold;
}

.meny-knapp {
	margin-left: 15px;
}

#bs-example-navbar-collapse-1 ul li a {
	color: #337ab7;
}



/*---------- Header Image ----------*/

.header {
	width: 100%;
	height: 400px;
	left: 0px;
    background-image: url(../img/3610-6317b676de359186a6b008f3d8c8efd0-0b71b6b7b89d687c5e07f83650669fb320_utsikt_1.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
}

.headerrow {
	margin-top: 400px;
	background-color: white;
}


/*---------- Hjem ----------*/

.intro {
	float: none;	
    margin-top: 20px;
    margin-bottom: 0px;
    height: 250px;
    padding-right: 0px;
  	padding-left: 0px;
  	padding-top: 25px;
  	padding-bottom: 30px;
  	height: auto;
	text-align: center;
	background-color: white;
}

.intro h3 {
	font-size: 2rem;
	margin-bottom: 60px;
	padding-left: 70px;
	padding-right: 70px;
}

.intro a {
	font-size: 2rem;
}

.areas {
	padding-bottom: 50px;
	background: #eee;
}

@media only screen and (max-width: 991px) {
    .areas {
	display: none;
	}
}

.area-filter {
	padding-top: 15px;
}

.firstrowareas {
	margin-bottom: 50px;
}

.area-filter ul {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 30px;
}

.inactive a {
	border-radius: 4px;
	background: #999;
	color: white;
}

.area-cont {
	margin-bottom: 50px;
}

.area-cont img {
	max-height: 100%;
	max-width: 100%;
}

.expand-area {
	margin-top: -20px;
	text-align: center;
}

.googlemap {
	width: 100%;
	height: 400px;
    background-color: grey;
}

.jumbo img, .areamap img {
	max-width: 100%;
	max-height: 100%;
}


/*---------- Områder ----------*/

.omraadetekst {
	display: inline-block;
	width: 60%;
}

.omraadebilde {
	display: inline-block;
}

.tomte-cont {
	width: 70%;
	height: 100%;
	float: none;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

.filtreringcol h4 {
	padding-left: 40px;
	margin-bottom: 30px;
}

.tomte-cont>div:nth-child(1)>h1 {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}
.area-result {
	margin: 50px 0;
}

.area-result p {
	width: 80%;
}

.area-result>div:nth-child(2) h2 {
	margin-top: 10px;
}

.filter-option {
	margin-bottom: 10px;
}

.checkbox input {
	width: 20px;
	height: 20px;
	margin: 0 0 0 0 !important;
}

.img-result {
    max-width: 100%;
}

.innholdDiv button {
	display: none;
}

.innholdDiv button span {
	top: 4px;
    margin-left: 6px;
}

.innholdDiv h1 {
	text-align: center;
}

.checkbox {
	margin-left: 5px;
}

.filterDiv h2 {
	margin-left: 5px;
	margin-bottom: 15px;
}

@media only screen and (max-width: 991px) {
    .filterDiv {
    	display: none;
    }

    .innholdDiv button {
	display: block;
	}	
}



/*---------- Tomteområde ----------*/

.tomt-info {
	width: 37%;
	height: 100%;
	float: none;
	overflow: auto;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.tomt-info h1 {
	margin-bottom: 30px;
}

.tomt-info h4 {
	margin-bottom: 20px;
}

.btn-kontakt {
	margin: 60px auto;
	display: block;
}

.tomt {
	display: flex;
	height: 100%;
}

.tomt div:nth-child(1) img {
	max-width: 100%;
	max-height: 100%;
}

.tomt div:nth-child(2) {
	flex: 1;
	background: white;
	border: 2px solid #eee;
}

.tomt a {
	margin-top: 50px;
	width: 300px;
}

.liste .row{
	width: 70%;
	margin: 50px auto;
	float: none;
}

.print span {
	font-size: 4rem;
}

.planer, .selgere {
	margin-bottom: 50px;
}

.planer h4, .selgere h4 {
	margin: 15px 0;
}

.planer h4 span, .selgere h4 span {
	font-size: 4rem;
	margin: 0 10px;
}

/*---------- Hvem er vi ----------*/

.omoss-cont {
	margin: 40px auto 50px auto;
	float: none;
	overflow: auto;
	width: 40%;
	height: 100%;
}

.innholdDiv {
	background-color: white;
}

.innholdDiv >div:nth-child(1) {
	margin-bottom: 40px;
}

.omoss-cont>div:nth-child(1) {
	margin-bottom: 40px;
}

.selger-info {
	margin: 25px 0;
}

.selger-info div:nth-child(2) h2 {
	margin-top: 5px;
}

/*---------- Kontakt ----------*/

.kontakt-form {
	margin: 0px 0 125px 0;
}

.kontakt-bokser h4 {
	margin-top: 25px;
	margin-bottom: 7px;
}

.kontakt-bokser .checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}
.kontakt-bokser .checkboxes input {
  vertical-align: middle;
}
.kontakt-bokser .checkboxes label span {
  vertical-align: middle;
}

.kontakt-bokser span {
	font-weight: normal;
}

.error {
    visibility: hidden;
    color: red;
}

/*---------- Footer ----------*/

footer {
	height: auto;
	background: #444;
}

footer h2 {
	margin-top: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer img {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 400px;
	height: auto;
}

footer>div {
	color: #ddd;
}