body {
	font-family: "Sanseriffic", regular;
}

.container {
	width: 100%;
	margin-top: 80px;
	padding: 0;
}

.container-fluid {
	padding: 0px;
}
.col-lg-12, .col-lg-10, .col-lg-9, .col-xs-12 { 
	padding: 0;
}

.row .col {
	margin: 0;
}

.row {
	margin:0;
}


/*---------- Nav bar ----------*/

.navbar {
	background: #fff;
	border-bottom-width: 0px;
}

.navbar-nav {
	width: 100%;
}

.navbar-nav li {
	text-align: center;
	width: 25%;
}

.nav-contact {
	font-weight: bold;
}

.meny-knapp {
	margin-left: 15px;
}

#bs-example-navbar-collapse-1 ul li a {
	color: #337ab7;
}



/*---------- Header Image ----------*/

.header {
	width: 100%;
	height: 400px;
	left: 0px;
    background-image: url(../img/4048-defa182b2ca32bb2ed821a7c5e266ab2-2f539a6dd8bb8e7b33f50d395a9a150cnordseter.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
}

.headerrow {
	margin-top: 400px;
	background-color: white;
}

.indexlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 20%;
}

@media (max-width: 991px){
    .indexlogo {
        width: 40%;
    }
}

/*---------- Hjem ----------*/

.intro {
	float: none;	
    margin-top: 20px;
    margin-bottom: 0px;
    height: 250px;
    padding-right: 0px;
  	padding-left: 0px;
  	padding-top: 25px;
  	padding-bottom: 30px;
  	height: auto;
	text-align: center;
	background-color: white;
}

.intro h3 {
	font-size: 2rem;
	margin-bottom: 60px;
	padding-left: 70px;
	padding-right: 70px;
}

.intro a {
	font-size: 2rem;
}

.areas {
	padding-bottom: 50px;
	background: #eee;
}

@media only screen and (max-width: 991px) {
    .areas {
	display: none;
	}
}

.area-filter {
	padding-top: 15px;
}

.area-filter ul {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 30px;
}

.inactive a {
	border-radius: 4px;
	background: #999;
	color: white;
}

.nav-pills li:hover {
	cursor: pointer;
}

#area-cont img {
	max-height: 100%;
	max-width: 100%;
	margin-bottom: 10%;
}

.expand-area {
	margin-top: -20px;
	text-align: center;
}

.googlemap {
	width: 100%;
	height: 400px;
    background-color: grey;
}

.jumbo img, .areamap img {
	max-width: 100%;
	max-height: 100%;
}


/*---------- Områder ----------*/

.omraadetekst {
	display: inline-block;
	width: 60%;
}

.omraadebilde {
	display: inline-block;
}

.tomte-cont {
	width: 70%;
	height: 100%;
	float: none;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

.filtreringcol h4 {
	padding-left: 40px;
	margin-bottom: 30px;
}

.tomte-cont>div:nth-child(1)>h1 {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}
.area-result {
	margin: 50px 0;
}

.area-result p {
	width: 80%;
}

.area-result>div:nth-child(2) h2 {
	margin-top: 10px;
}

.filter-option {
	margin-bottom: 10px;
}

.checkbox input {
	width: 20px;
	height: 20px;
	margin: 0 0 0 0 !important;
}

.img-result {
    max-width: 100%;
}

.innholdDiv button {
	display: none;
}

.innholdDiv button span {
	top: 4px;
    margin-left: 6px;
}

.innholdDiv h1 {
	text-align: center;
}

.checkbox {
	margin-left: 5px;
}

.filterDiv h2 {
	margin-left: 5px;
	margin-bottom: 15px;
}

@media only screen and (max-width: 991px) {
    .filterDiv {
    	display: none;
    }

    .innholdDiv button {
	display: block;
	}	
}



/*---------- Tomteområde ----------*/


/*-------  Carousel----------  */
header {
  height: 60vh;
}

html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    background-image: url("../img/4023-c4fd5d532cb57e7f1a84987c0b34352e-2b9a2424d58d18de7bb26e547aa2bbb8nordseter5.jpg");
    background-position: center;
    background-size: cover;
}

.item:nth-child(2) {
    background-image: url("../img/4086-1cfef19396bbccc6209b2f4c1b479812-47e49c0da3e9603a47f1a081dbb8e9delangrenn_esben_haakenstad_2007_917.jpg");
    background-position: center;
    background-size: cover;
}

.item:nth-child(3) {
    background-image: url("../img/4043-e00dc7ee03d2e4bcb581ae8c4307992d-c12b241bb9e839b280f88c97cf76c598102.jpg");
    background-position: center;
    background-size: cover;
}

.item:nth-child(4) {
    background-image: url("../img/4048-defa182b2ca32bb2ed821a7c5e266ab2-2f539a6dd8bb8e7b33f50d395a9a150cnordseter.jpg");
    background-position: center;
    background-size: cover;
}

.item:nth-child(5) {
    background-image: url("../img/4085-77821423ee680532b11e3897bcecad91-0a76cdb094b91f513af5f4bd3d3ddb4aimg_1985.jpg");
    background-position: center;
    background-size: cover;
}

/*-------------------- */
.kart-tomter {
	height: 60vh;
	border-style: solid;
	border-color: gray;
    border-width: 1px 0px 1px 1px;
}

.kart-row {
	margin-right: 1px;
	margin-left: 1px;
}

.dialog-boks {
	height: 60vh;
	padding-top: 50px;
	padding-left: 15px;
	border: 1px solid gray;
}

@media only screen and (max-width: 991px) {
    .dialog-boks {
    	height: auto;
	}
}

.dialog-boks a{
	margin-right: 10px;
}

.dialog-boks .center-block {
	width: 150px;
	margin-bottom: 20px;
}


.tomt-info {	
	margin-top: 50px;
	padding-right: 0px;
}

.tomt-info img {
	margin-left: 10px;
}

.tomt-info h1 {
	margin-bottom: 30px;
}

.tomt-info h4 {
	margin-bottom: 20px;
}

.btn-kontakt {
	margin: 60px auto;
	display: block;
}

.tomt {
	display: flex;
	height: 100%;
}

.tomt-info h1 {
	display: inline;
}

.tomt div:nth-child(1) img {
	max-width: 100%;
	max-height: 100%;
}

.tomt div:nth-child(2) {
	flex: 1;
	background: white;
	border: 2px solid #eee;
}

.tomt a {
	margin-top: 50px;
	width: 300px;
}

.liste {
	margin-top: 50px;
}

@media only screen and (max-width: 991px) {
    .liste {
		display: none;
	}		
}

.visTomteliste button {
	margin-top: 50px;
	display: none;
}

@media only screen and (max-width: 991px) {
    .visTomteliste button {
		margin-top: 50px;
		display: block;
	}	
}

.visTomteliste button span {
	padding-left: 5px;
	top: 3px;
}

.print span {
	font-size: 4rem;
}

.reg-selgere-row {
	margin-top: 50px;
	margin-bottom: 50px;
}
.planer, .selgere {
	margin-bottom: 50px;
}

.planer h4, .selgere h4 {
	margin: 15px 0;
}

.planer h4 span, .selgere h4 span {
	font-size: 4rem;
	margin: 0 10px;
}

#printknapp{ 
	cursor: pointer; 
}

/*---------- Hvem er vi ----------*/

.omoss-cont {
	margin: 40px auto 50px auto;
	float: none;
	overflow: auto;
	width: 40%;
	height: 100%;
}

.innholdDiv {
	background-color: white;
}

.innholdDiv >div:nth-child(1) {
	margin-bottom: 40px;
}

.omoss-cont>div:nth-child(1) {
	margin-bottom: 40px;
}

.selger-info {
	margin: 25px 0;
}

.selger-info div:nth-child(2) h2 {
	margin-top: 5px;
}

/*---------- Kontakt ----------*/

.kontakt-form {
	margin: 0px 0 125px 0;
}

.kontakt-bokser h4 {
	margin-top: 25px;
	margin-bottom: 7px;
}

.kontakt-bokser .checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}
.kontakt-bokser .checkboxes input {
  vertical-align: middle;
}
.kontakt-bokser .checkboxes label span {
  vertical-align: middle;
}

.kontakt-bokser span {
	font-weight: normal;
}

.error {
    visibility: hidden;
    color: red;
}

#kontaktSubmit {
	display: block;
}

/*---------- Footer ----------*/

footer {
	height: auto;
	background: #444;
}

footer p {
	display: inline;
	font-size: 16px;
}

footer a {
	color: #ddd;
	text-decoration: underline;
}

footer div:nth-child(4) p {
	margin-right: 30px;
}

footer div:nth-child(3) p {
	margin-right: 30px;
}

footer div:nth-child(2) p {
	margin-right: 30px;
}

footer div:nth-child(3) span {
	margin-left: 14px;
}
footer div:nth-child(4) span {
	margin-left: 40px;
}

footer span {
	margin-right: 15px;
}

footer h3 {
	color: white;
	margin-top: 0px;
	padding-top: 30px;
	padding-bottom: 20px;
}

footer>div {
	color: #ddd;
}

footer .glyphicon {
    font-size: 20px;
}

.bottom-footer-div{
	margin-top: 50px;
	margin-bottom: 30px;
}



